name: Update facade if needed

on:
  push:
    paths:
      - "**.php"

permissions:
  contents: write

jobs:
  update-facade:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      - name: Update facade
        run: vendor/bin/testbench autodoc:facades src\Facades

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update facade
